---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80

AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlwaysBreakTemplateDeclarations: Yes
# needed for string arrays, but it packs everything
BinPackArguments: true
PointerAlignment: Left

# Optional: keep braces on the same line for classes/functions
BreakBeforeBraces: Attach
